.pagination {
    margin: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.pagination__container {
    display: flex;
}

.pagination__container--square {
    padding: 12px;
    border: 1px solid rgb(232,229,220);
    border-radius: 5px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    transition: .5s;
    color: rgb(33,32,31);
}

.pagination__container--square i {
    color: rgb(170,168,162);
    font-size:11px;
}

.pagination__container--tempo {
    width: 50px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__container--square:hover {
    background-color: #e7e6e3;
}

.pageSelected {
    background-color: rgb(229,226,218);
    border: 1px solid rgb(140,138,133);
    font-size: 14px;
}

.panination__container--numeros {
    display: flex;
}